
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>About Enkolili CBO</title>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->


    
    <style type="text/css">
      .carousel-inner > .carousel-item > img {
        width: 100%;
        margin: auto;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      header{
        margin-bottom: 130px;
      }
    </style>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
        <a class="navbar-brand" href="#">
        <img src="../images/logo.jpeg" alt="" width="100px" height="100px" class="d-inline-block align-text-top" style="border-radius: 300px;">
      </a>
        <a class="navbar-brand" href="#"><h3>ENKOLILI CBO</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactus.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="donate.html">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="board.html">The Board</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <main role="main">

      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="text-justify">
            <h2 class="featurette-heading">About Us<span class="text-muted"></span></h2>
            <p class="lead">Enkolili is a charity organization working for the maasai children and women to create an opportunity for rewarding futures. Without these opportunities, one out of ten maasai children face living poverty with their dreams dimming by the day. Our strength lies in the potential of every maasai child we encounter. We are involved in child protection and women empowerment in Kajiado County, to create real, long lasting change at community and individual level.</p>
            <p class="lead">Our work is centered at safeguarding the maa girl child from female genital mutilation and early marriages, provision of access education to the Maa child, which can enable them realize their ambitions and in long run bring change to their community. Together we break the chains of life of the maa children. We support them and their families through a network of staff, graduates, mentors, supporters and volunteers to achieving their potential.</p>
          </div>
          
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">THEY DESERVE A FUTURE<span class="text-muted"></span></h2>
            <p class="lead">They need education, shelter and motivation to help them conquor their past.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="../images/maa_livelihood.jpg" alt="Generic placeholder image" style="border: 4px solid teal; padding: 5px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="text-justify">
            <h2 class="featurette-heading">OUR VALUES<span class="text-muted"></span></h2>
            <p class="lead"><b>Compassion</b> - we believe in the potential of all maa children. They are a seed today. Tomorrow they are the tree that shades their homes. We feel compelled to provide support and opportunity that will help change their lives.</p>
            <p class="lead"><b>Collaborative</b> – the task is massive but the impact keep us moving. To achieve this big impact we are happy to share and learn from individuals and organisations.</p>
            <p class="lead"><b>Mission</b> – It’s a crime to watch the potential of a young maa child waste away. We want to raise awareness in saving them from the cut and tapping their potential. Therefore, we want to make our contribution in helping this vulnerable groups have a place in this world.</p>
            <p class="lead"><b>Vision</b> – To be a platform that saves, taps and enables realization of our Maa child’s dream. Our children Our hope</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="text-justify">
            <h2 class="featurette-heading">THE STORY OF ENKOLILI<span class="text-muted"></span></h2>
            <p class="lead">“Enkolili” is a name of an indigenious tree in Maasai. This is a very special tree because it grows on the rocks which simplifies perseverance and resilience. Enkolili organization comes in as a pillar that will shield the Maa Children that are going through cultural and social challenges which hinder them from realizing their full potential.</p>
            <p class="lead">The Founder of Enkolili organization has seen these challenges affecting his close relative and he decided to contribute in easing them. The organization was purely an ambition that he hopes will enable these girls and boys to achieve their dreams.</p>
            
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="text-justify">
            <h2 class="featurette-heading">AREAS OF FOCUS BY ENKOLILI<span class="text-muted"></span></h2>
            <ul>
              <li class="lead">The organization engages in Anti- FGM advocacy campaigns.</li>
              <li class="lead">Seeking justice to FGM victims</li>
              <li class="lead">Prevention of early child marriages and victimization</li>
              <li class="lead">Empowerment and capacity building.</li>
              <li class="lead">Develop close relationships with the community so that these challenges can be easily identified and addressed and also own the activities of Enkolili.</li>
              <li class="lead">Evaluate and monitor the activities of the organization.</li>
            </ul>
            <p class="lead"><b>The organization can be engaged through email <a href="#" class="email">contact@enkolili-cbo.org</a>, telephone number 0743718014.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container fixed-bottom bg-danger text-center text-white">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2022 Enkolili CBO | All rights reserved &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

  </body>
</html>
