
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Enkolili CBO</title>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->


    
    <style type="text/css">
      .carousel-inner > .carousel-item > img {
        width: 100%;
        margin: auto;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      header{
        margin-bottom: 130px;
      }
    </style>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
        <a class="navbar-brand" href="#">
        <img src="../images/logo.jpeg" alt="" width="100px" height="100px" class="d-inline-block align-text-top" style="border-radius: 300px;">
      </a>
        <a class="navbar-brand" href="#"><h3>ENKOLILI CBO</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactus.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="donate.html">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="board.html">The Board</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <main role="main">

      <div class="container marketing">
        

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Empowering Widows with Energy-Saving Stoves:<span class="text-muted">Illuminating Lives in the Maa Community</span></h2>
            <h4><strong>Enhancing Sustainability, Safety, and Livelihoods through Innovative Cooking Solutions</strong></h4>
            <p class="lead">Enkolili Community-Based Organization (CBO) is proud to introduce its groundbreaking project, "Empowering Widows with Energy-Saving Stoves," supported by the Sustainable Development Fund (SDF). In the heart of the Maa Community in Kenya, this initiative aims to revolutionize cooking practices for widows by providing them with energy-saving stoves.</p>
            <p class="lead">This project acknowledges the invaluable role widows play within the community, often facing numerous challenges and hardships. The energy-saving stoves offer a solution that not only addresses their immediate needs but also fosters long-term benefits for both the widows and the environment. These stoves utilize innovative technology that significantly reduces fuel consumption, making them not only cost-effective but also environmentally friendly.</p>
            <p class="lead">By using energy-saving stoves, widows will experience a multitude of advantages. Firstly, these stoves promote sustainability by consuming less firewood, thereby mitigating deforestation and protecting the natural resources of the Maa Community. Secondly, they enhance safety by minimizing the risk of accidental fires and respiratory ailments caused by indoor air pollution. Furthermore, the reduced need for firewood will alleviate the physical strain on widows, allowing them to allocate more time and energy to other productive activities.</p>
            <p class="lead">Thanks to the generous support from the Sustainable Development Fund (SDF), Enkolili CBO can empower widows in the Maa Community with these life-changing energy-saving stoves. Through this project, we strive to create a brighter and healthier future for widows while promoting sustainable development practices that benefit the entire community. Together, we can illuminate lives and pave the way for a more prosperous Maa Community.</p>
            <div class="row">
              <div class="col-md-6">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/energy_saving_stove/energy_saving_stove_6a.jpeg" alt="Generic placeholder image">
              </div>
              <div class="col-md-6">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/energy_saving_stove/energy_saving_stove_5a.jpeg" alt="Generic placeholder image">
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div style="margin-bottom: 5px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/energy_saving_stove/energy_saving_stove_1.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 5px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/energy_saving_stove/energy_saving_stove_4.jpeg" alt="Generic placeholder image">
            </div>
            
            <div style="margin-bottom: 5px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/energy_saving_stove/energy_saving_stove_3.jpeg" alt="Generic placeholder image">
            </div>
          </div>
          
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <h2 class="featurette-heading">Embracing Compassion and Alleviating Hardships</h2>
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"><span class="text-muted">Clothing Drive and Food Assistance for the Vulnerable in the Maa Community</span></h2>
            <h4><strong>Cultivating Solidarity, Nourishing Lives, and Uplifting Communities</strong></h4>
            <p class="lead">Enkolili Community-Based Organization (CBO) is thrilled to present its impactful project, "Clothing Drive and Food Assistance for the Vulnerable," made possible through a generous donation of clothes by Geiger School (Geigeskolan) in Malmö, Sweden. Situated in the heart of the Maa Community in Kenya, this initiative aims to provide much-needed clothing and essential food supplies to the community members facing severe drought and vulnerable circumstances.</p>
            <p class="lead">Recognizing the pressing challenges faced by the Maa Community, particularly during times of drought, Enkolili CBO took the compassionate step of combining clothing assistance with food provision. By addressing both the clothing and nutritional needs of the vulnerable, this project aims to foster resilience and support their overall well-being.</p>
            <p class="lead">In addition to the clothing drive, Enkolili CBO has included a provision of essential food supplies to accompany the donated clothes. This strategic combination ensures that the vulnerable individuals and families in the Maa Community have access to nourishing meals, particularly during times of extreme drought when food security is a pressing concern.</p>
            <p class="lead">Through the collaboration between Geiger School and Enkolili CBO, this project embodies the power of global partnerships and the spirit of humanity. Together, we aim to cultivate compassion, alleviate hardships, and uplift communities. The Maa Community's resilience and strength will be strengthened as they receive vital clothing items and sustenance during times of scarcity.</p>
            <p class="lead">Enkolili CBO is deeply grateful to Geiger School for their generous donation and to all the individuals and organizations involved in making this project a reality. By joining forces, we can make a significant difference in the lives of the vulnerable in the Maa Community, nurturing a brighter future for all.</p>
            <div class="row">
              <div class="col-md-6" style="margin-bottom: 5px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_10.jpeg" alt="Generic placeholder image">
              </div>
              <div class="col-md-6" style="margin-bottom: 5px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_11.jpeg" alt="Generic placeholder image">
              </div>
              <div class="col-md-6" style="margin-bottom: 5px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_13.jpeg" alt="Generic placeholder image">
              </div>
              <div class="col-md-6" style="margin-bottom: 5px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_15.jpeg" alt="Generic placeholder image">
              </div>
              <div class="col-md-6" style="margin-bottom: 5px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_16.jpeg" alt="Generic placeholder image">
              </div>
              <div class="col-md-6" style="margin-bottom: 5px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_9.jpeg" alt="Generic placeholder image">
              </div>
              
            </div>
          </div>
          <div class="col-md-5 order-md-1">
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_1.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_2.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_3.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_4.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_5.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_6.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_7.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/clothing/food_and_clothing_8.jpeg" alt="Generic placeholder image">
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Reintegrating Dreams: <span class="text-muted">Enkolili CBO's Education Initiative.</span></h2>
            <h4><strong>Overcoming Adversity, Building Futures, and Fostering Collaborative Partnerships</strong></h4>
            <p class="lead">Enkolili Community-Based Organization (CBO) takes great pride in sharing the inspiring story of Leonard Mopel, our dedicated chairperson, who, with unwavering determination, facilitated the return to school of two deserving individuals: Jeremiah and Narinoi. Jeremiah had dropped out due to the burden of poverty and the responsibility of caring for his sick mother, while Narinoi's education was disrupted by an early pregnancy at the tender age of 16. Through the combined efforts of Enkolili CBO and our esteemed partner, The Soina Foundation, in collaboration with Green Liberty Latvia, these young individuals have been given a second chance at education and the opportunity to realize their dreams.            </p>
            <p class="lead">Leonard Mopel's unwavering commitment to community empowerment drove him to intervene and advocate for the education of Jeremiah and Narinoi. Recognizing the transformative power of education in breaking the cycle of poverty and providing a path towards a brighter future, Leonard worked tirelessly to secure the necessary support and resources for their reintegration into school.</p>
            <p class="lead">With the invaluable support of The Soina Foundation and Green Liberty Latvia, Enkolili CBO orchestrated a comprehensive plan to ensure the successful return of Jeremiah and Narinoi to the classroom. This collaborative effort encompassed financial assistance for school fees, essential supplies, and comprehensive support systems to address any additional challenges they may face during their educational journey.</p>
            <p class="lead">The impact of this initiative extends far beyond the reinstatement of Jeremiah and Narinoi into the educational system. By reintegrating these young individuals, Enkolili CBO sends a powerful message to the community about the importance of education, resilience, and the belief in second chances. It serves as an inspiration for other vulnerable youth and their families, instilling hope and fostering a culture of education that breaks down barriers and opens doors to brighter futures.</p>
            <p class="lead">Enkolili CBO is deeply grateful to The Soina Foundation and Green Liberty Latvia for their unwavering support in making this reintegration project a reality. Through the collaborative efforts of our partners and the dedication of individuals like Leonard Mopel, we can transform lives and empower the next generation to overcome adversity and achieve their full potential.</p>
            <p class="lead">Together, Enkolili CBO, The Soina Foundation, and Green Liberty Latvia stand united in our commitment to unlock education and empower dreams. We believe that every child deserves the opportunity to learn, grow, and flourish, and we will continue to strive towards creating an inclusive and equitable society where education is a right, not a privilege.</p>
            <div class="row">
              <div class="col-md-6" style="margin-bottom: 3px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/school_dropouts/jeremiah_4.jpeg" alt="Generic placeholder image">
              </div>
              <div class="col-md-6" style="margin-bottom: 3px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/school_dropouts/soina_and_leonard.jpeg" alt="Generic placeholder image">
              </div>
              
            </div>
          </div>
          <div class="col-md-5">
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/school_dropouts/jeremiah.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/school_dropouts/narinoi_with_her_child.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/school_dropouts/narinoi_and_leonard.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/school_dropouts/jeremiah_and_leonard.jpeg" alt="Generic placeholder image">
            </div>
            
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <h2 class="featurette-heading">Bridging Boundaries, Nurturing Harmony (Harmony in the Wild) </h2>
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"><span class="text-muted">Enkolili CBO and KWS Collaboration for Human-Wildlife Conflict in Kajiado County</span></h2>
            <h4><strong>Fostering Coexistence, Conservation, and Sustainable Communities</strong></h4>
            <p class="lead">Enkolili CBO and the Kenya Wildlife Service (KWS) have joined forces to tackle the urgent challenge of human-wildlife conflict in the picturesque landscapes of Kajiado County. This impactful partnership aims to establish a harmonious relationship between communities and wildlife, fostering coexistence while promoting conservation efforts and sustainable development.</p>
            <p class="lead">With a deep understanding of the hardships faced by local communities due to conflicts with wildlife, Enkolili CBO and KWS are working tirelessly to find lasting solutions. Through innovative initiatives, community engagement programs, and proactive measures, this collaboration seeks to minimize the negative impacts on both humans and wildlife.</p>
            <p class="lead">By promoting awareness and education, Enkolili CBO and KWS aim to bridge boundaries and foster empathy between communities and the wildlife that shares their habitat. Together, they strive to create an environment where humans and wildlife can coexist in harmony, protecting the rich biodiversity of Kajiado County for generations to come.
            </p>
            <p class="lead">Through their collaborative efforts, Enkolili CBO and KWS are sowing the seeds of sustainable communities, nurturing a future where humans and wildlife thrive side by side. By fostering coexistence, conservation, and sustainable practices, this partnership serves as a beacon of hope for the preservation of Kajiado County's natural heritage and the well-being of its inhabitants.</p>
            <div class="row">
              <div class="" style="margin-bottom: 5px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/human_and_wildlife_7.jpeg" alt="Generic placeholder image">
              </div>
              <div class="" style="margin-bottom: 5px;">
                <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/human_and_wildlife_8.jpeg" alt="Generic placeholder image">
              </div>
            </div>
          </div>
          <div class="col-md-5 order-md-1">
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/leonard_and_kws.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/human_and_wildlife_8.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/human_and_wildlife_2.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/human_and_wildlife_3.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/human_and_wildlife_4.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/human_and_wildlife_5.jpeg" alt="Generic placeholder image">
            </div>
            <div style="margin-bottom: 3px;">
              <img class="featurette-image img-fluid mx-auto" src="../images/projects/wildlife/human_and_wildlife_6.jpeg" alt="Generic placeholder image">
            </div>
            
          </div>
        </div>

        <hr class="featurette-divider">
        
        <div class="row featurette">
          <h2 class="featurette-heading">Empowering Women, Enriching Lives:</h2>
          <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-muted">Enkolili CBO's Tent Project for Osotua Women Group.</span></h2>
            <h4><strong>Fostering Entrepreneurship, Supporting Education, and Enriching Lives</strong></h4>
            <p class="lead">Enkolili Community-Based Organization (CBO) is dedicated to women's empowerment, and as part of their efforts, they have provided a tent to the Osotua Women Group. This tent serves as a valuable resource for the group, enabling them to generate income by offering rental services at an affordable price. The generous contribution of the tent and seats by Safaricom Ndoto Zetu has been instrumental in supporting the women's group and their initiatives.</p>
            <p class="lead">Osotua Women Group, with a remarkable track record of supporting women since 2003, has been making a significant impact in the community. In addition to their empowering initiatives, they have sponsored the education of 10 children, underscoring their commitment to holistic development. The tent project by Enkolili CBO further enhances the group's ability to uplift women economically and create opportunities for sustainable livelihoods.</p>
            <p class="lead">Through this collaboration, Enkolili CBO, Osotua Women Group, and Safaricom Ndoto Zetu demonstrate the power of partnership and community support. By equipping women with resources and platforms for economic empowerment, this initiative not only enhances their individual lives but also contributes to the overall prosperity of the community. Enkolili CBO is grateful for the support of Safaricom Ndoto Zetu in making this project a reality and is dedicated to continuing their efforts in empowering women and fostering positive change.</p>
            
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="../images/maa4.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

      </div>


      <!-- FOOTER -->
      <footer class="container fixed-bottom bg-danger text-center text-white">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2022 Enkolili CBO | All rights reserved &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

  </body>
</html>
